*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

nav > ul > li {
    list-style: none;
    padding: 0 1rem;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

#current-page {
    position: relative;
}

#current-page::after {
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1rem;
    background-color: white;
    position: absolute;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
}

main > h1 {
    text-align: center;
}

main > img {
    display: block;
    max-width: 80%;
    margin: 2rem auto;
}

#data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    display: block;
    width: 80%;
    margin: 3rem auto;
    padding: 1rem;
    font-size: large;
    border-radius: 4rem;
    outline: none;
    border: none;
    background-color: lightgreen;
}